@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?yvz881');
  src:  url('fonts/icomoon.eot?yvz881#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?yvz881') format('truetype'),
    url('fonts/icomoon.woff?yvz881') format('woff'),
    url('fonts/icomoon.svg?yvz881#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-align-left:before {
  content: "\e90a";
}
.icon-arrow-left:before {
  content: "\e900";
}
.icon-arrow-up:before {
  content: "\e901";
}
.icon-award:before {
  content: "\e90b";
}
.icon-chevron-down:before {
  content: "\e902";
}
.icon-chevron-left:before {
  content: "\e903";
}
.icon-chevron-right:before {
  content: "\e904";
}
.icon-chevron-up:before {
  content: "\e905";
}
.icon-clock:before {
  content: "\e906";
}
.icon-eye:before {
  content: "\e90e";
}
.icon-heart:before {
  content: "\e907";
}
.icon-more-horizontal:before {
  content: "\e908";
}
.icon-pause:before {
  content: "\e90f";
}
.icon-play:before {
  content: "\e910";
}
.icon-search:before {
  content: "\e909";
}
.icon-trash:before {
  content: "\e90c";
}
.icon-author:before {
  content: "\e911";
}
.icon-watch:before {
  content: "\e90d";
}
