// 定义颜色规范
$color-background           : #fff; //白
$color-background-d         : #F4F4F4; // 浅灰
$color-border               : #ccc; // 深灰

$color-theme                : #739499; // 墨绿 深
$color-theme-l              : #B0C9CC; // 墨绿 浅
$color-sub-theme            : #FFB5B5; // 粉

$color-text                 : #212121;
$color-text-white           : #fff;
$color-text-gray            : #999;
$color-text-gray-d          : #757575;

//定义字体规范
$font-size-small-s  : 0.5rem;
$font-size-small    : 0.6rem;
$font-size-medium   : 0.7rem;
$font-size-medium-x : 0.8rem;
$font-size-large    : 1.0rem;
$font-size-large-x  : 1.2rem;
$font-size-huge     : 1.3rem;
