@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?6nfkef');
  src:  url('../fonts/icomoon.eot?6nfkef#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?6nfkef') format('truetype'),
    url('../fonts/icomoon.woff?6nfkef') format('woff'),
    url('../fonts/icomoon.svg?6nfkef#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "\e900";
}
.icon-arrow-up:before {
  content: "\e901";
}
.icon-chevron-down:before {
  content: "\e902";
}
.icon-chevron-left:before {
  content: "\e903";
}
.icon-chevron-right:before {
  content: "\e904";
}
.icon-chevron-up:before {
  content: "\e905";
}
.icon-clock:before {
  content: "\e906";
}
.icon-heart:before {
  content: "\e907";
}
.icon-more-horizontal:before {
  content: "\e908";
}
.icon-search:before {
  content: "\e909";
}
.icon-align-left:before {
  content: "\e90a";
}
.icon-award:before {
  content: "\e90b";
}
.icon-trash:before {
  content: "\e90c";
}
.icon-watch:before {
  content: "\e90d";
}
.icon-eye:before {
  content: "\e90e";
}
.icon-pause:before {
  content: "\e90f";
}
.icon-play:before {
  content: "\e910";
}
.icon-author:before {
  content: "\e911";
}
.icon-alert-triangle:before {
  content: "\e912";
}
.icon-archive:before {
  content: "\e913";
}
.icon-arrow-up-circle:before {
  content: "\e914";
}
.icon-download:before {
  content: "\e915";
}
.icon-download-cloud:before {
  content: "\e916";
}
.icon-headphones:before {
  content: "\e917";
}
.icon-navigation:before {
  content: "\e918";
}
.icon-settings:before {
  content: "\e919";
}
.icon-share-2:before {
  content: "\e91a";
}
.icon-trash-2:before {
  content: "\e91b";
}
.icon-tv:before {
  content: "\e91c";
}
.icon-clock1:before {
  content: "\e925";
}
.icon-list:before {
  content: "\e91d";
}
.icon-maximize:before {
  content: "\e91e";
}
.icon-minimize:before {
  content: "\e920";
}
.icon-music:before {
  content: "\e926";
}
.icon-slash:before {
  content: "\e922";
}
.icon-star:before {
  content: "\e923";
}
.icon-x-circle:before {
  content: "\e927";
}
