/* 清除内外边距 */
@import "./const.scss";

@charset "utf-8";
* {
  box-sizing: border-box;
  font-weight: lighter;
}

body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,
pre,dl, dt, dd, ul, ol, li,
form, fieldset, lengend, button, input, textarea,
th, td { margin: 0; padding: 0; color: $color-text; word-break: break-all;}

/* 重置列表元素 */
ul, ol { list-style: none; }

/* 强调 */
em { color: $color-theme; font-style: normal; }

/* 重置文本格式元素 */
a { text-decoration: none; color: $color-text; }
q:before, q:after { content: ''; }

/* 重置表单元素 */
legend { color: #000; } /* for ie6 */
button, textarea { font-size: 100%; border: 0; } /* 使得表单元素在 ie 下能继承字体大小 */
fieldset, img { border: 0; } /* img 搭车：让链接里的 img 无边框 */

/* 重置表格元素 */
table { border-collapse: collapse; border-spacing: 0; }

/* 清除浮动 */
.fl { float: left; }
.fr { float: right; }
.clearfix:after { display: block; clear: both; content: ""; visibility: hidden; height: 0; }
.clearfix { zoom: 1; }

/* 文字选中效果 */
::selection {
  background-color: #b3d4fc;
  text-shadow: none;
}

/* 浏览器升级 */
.browser-up {
  padding: 1rem;
  background: #ccc;
  text-align: center;
}


